 <div class="grid-container">
        <div class="nav-bar">
          <%= render partial: "header" %>
        </nav>
        <div class="grid-x grid-padding-x">
            <div class="large-2 medium-2 cell">
                <div class="large-4 medium-4 small- cell left-menu">
                        <%= render partial: "search" %>
                </div>
            </div>
            <div class="large-6 medium-6 cell center-menu">
                <div class="grid-x grid-padding-x">
                    <%= render partial: "score" %>
                </div>
            </div>

            <div class="large-4 medium-4 cell right-menu">
                <div class="callout">
                    <h5>So many components, girl!</h5>
                    <p>A whole kitchen sink of goodies comes with Foundation. Check out the docs to see them all, along with details on making them your own.</p>
                    <a href="https://foundation.zurb.com/sites/docs/" class="small button">Go to Foundation Docs</a>
                </div>
                <div class="callout">
                    <h5>So many components, girl!</h5>
                    <p>A whole kitchen sink of goodies comes with Foundation. Check out the docs to see them all, along with details on making them your own.</p>
                    <a href="https://foundation.zurb.com/sites/docs/" class="small button">Go to Foundation Docs</a>
                </div><div class="callout">
                    <h5>So many components, girl!</h5>
                    <p>A whole kitchen sink of goodies comes with Foundation. Check out the docs to see them all, along with details on making them your own.</p>
                    <a href="https://foundation.zurb.com/sites/docs/" class="small button">Go to Foundation Docs</a>
                </div>
            </div>
        <hr/>
        </div>
</div>
